*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

body {
    background-color: white;
    color: #333333;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    margin: 2em 0 1.2em 0;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.5);
}

h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    margin-top: 1em;
    margin-bottom: 0.83em;
}

h3 {
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-top: 1em;
    margin-bottom: 0.83em;
}

p {
    line-height: 1.5;
    letter-spacing: 0.01em;
    margin: 0 0 12px;
    padding: 10px;
}

a {
    color: #3A506B;
}

section {
    padding: 20px;
    column-span: all; /* zapina block formatting context (aby se vypnul margin collapsing) */
}

/* Navigace */

.main-nav {
    background-color: #333333;
    color: white;
    font-size: 0.92rem;
    text-align: right;
    margin: 0;    
}

.main-nav ul {
    margin: 0;
    padding: 0;
}

.main-nav li {
    display: inline-block;
    text-align: right;
    
}

.main-nav a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 1em;
    border-left: 1px solid #222222;
}

.main-nav a:hover { 
    background-color: #D6996B;
}

/* Header */

header {
    background-color: rgb(249, 250, 251);
    background-image: url("images/masaz.jpg");
    background-size: cover;
    background-position: center;
    
}

header p {
    font-size: 1.5rem;
    text-align: center;
}



/* Anotation */

.anotation {
    background-color: white;
}

.anotation p {
    font-size: 1.25rem;
    text-align: center;
    margin: 20px 0;
}



/* Terapie a jejich varianty*/

.terapie {
    background-color: rgb(249, 250, 251);
}

.terapie-uvod {
    text-align: center;
}

.varianta {
    background-color: rgb(255, 255, 255);
    margin: 0.5em;
    margin-bottom: 1.5em;
}

.varianta-heading {
    padding: 0.75em 2em;
    border: 1px solid #D6996B;
    color: #FFFFFF;
    background: #D6996B;
}

.varianta-cena {
    font-size: 2rem;
    text-weight: 700;
    text-align: center;
    padding: 0.5em 0.5em;
    color: #D6996B;
}




/* All about Dita */

.dita {
    
}

.dita a {
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    margin-top: 1em;
    margin-bottom: 0.83em;
    display: inline-block;
    padding: 0.75em 2em;
    border: 1px solid #D6996B;
    color: #FFFFFF;
    background: #D6996B;
}


.dita a:hover {
    background: #dca77f;
}

.dita img {
    width: 100%;
}

/* FOOTER - tedy informace kontaktní */

footer {
    background-color: #333333;
    color: white;
    padding: 0 1em;
}

footer p {
    padding: 0;
    margin: 1em 0 0 0;
}

footer h2 {
    margin: 1em 0 0 0;
    padding: 1em 0 0 0;
    text-align: left;
}

footer a {
    text-decoration: none;
    color: #FFFFFF;
}

footer a:hover {
    color: #dca77f;
}

.footer-compulsory {
    margin: 2em -1em 0 -1em;
    text-align: center;
    background-color: #D6996B;
}
