@-ma-viewport {
    width: device-width;
}

*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

body {
    background-color: #ffffff;
    color: #333333;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin: 2em 0 1.2em;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.5);
}

h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    margin-top: 1em;
    margin-bottom: 0.83em;
}

h3 {
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-top: 1em;
    margin-bottom: 0.83em;
}

p {
    line-height: 1.5;
    letter-spacing: 0.01em;
    margin: 0 0 12px;
    padding: 10px;
}

a {
    color: #3a506b;
}

section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; 
    padding: 20px;
    column-span: all; /* zapina block formatting context (aby se vypnul margin collapsing) */
}

/* navigace */

.main-nav {
    background-color: #333333;
    color: #ffffff;
    font-size: 0.92rem;
    text-align: right;
    margin: 0;    
}

.main-nav ul {
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    max-width: 1200px;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.main-nav li {
    display: block;
}

.main-nav a {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 1em;
    border-left: 1px solid #222222;
}

.main-nav a:hover { 
    background-color: #d6996b;
}

/* header */

header {
    background-color: #f9fafb;
    background-image: url("images/masaz.jpg");
    background-size: cover;
    background-position: center;
}

header p {
    font-size: 1.5rem;
    text-align: center;
}



/* anotation */

.anotation {
    background-color: #ffffff;
}

.anotation p {
    font-size: 1.25rem;
    text-align: center;
    margin: 20px 0;
}



/* terapie a jejich varianty*/

.terapie {
    background-color: #f9fafb;
}

.terapie-uvod {
    text-align: center;
}

.terapie-container {
    display: flex;
    flex-wrap: wrap;
}



.varianta {
    background-color: #ffffff;
    margin: 0 0.5em 1.5em;
    flex: 1 1 0;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    border: 1px solid #CCCCCC;
    border-radius:5px;
}

.varianta-heading {
    padding: 0.75em 2em;
    margin-top: 0;
    border: 1px solid #d6996b;
    color: #ffffff;
    background: #d6996b;
}

.varianta-content {
    flex: 1 1 auto;
}

.varianta-link {
    text-align: center;
    padding: 0.5em;
    background-color: #eeeeee;
}


/* all about dita */


.dita-content {
    display: flex;
    flex: 1 1 40%;
    min-width: 250px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dita-about {
    max-width: 65%;
    flex-wrap: wrap;
}

.dita-portrait {
    width: 30%;
}

.dita-experience {
    display: flex;
    flex: 1 1 25%;
    min-width: 250px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dita-card {
    margin: 1.5em 0.5em;
    min-width: 250px;
    border: 1px solid #CCCCCC;
    border-radius:5px;
}

.dita-subheader {
    padding: 0.75em 2em;
    margin-top: 0;
    border: 1px solid #d6996b;
    color: #ffffff;
    background: #d6996b;
}

.dita-ul {
    line-height: 1.5;
}

.dita-years {
    color: #d6996b;
    font-weight: 700;
}

.dita-clearfix {
    display: none;
}

/*@media (min-width: 900px) {
    .dita-about {
        width: calc(50% - 1em);
        float: left;
    }

    .dita-portrait {
        float: left;
        width: calc(50% - 1em);
        max-width: 100%;
    }

    .dita-clearfix {
        clear: both;
        display: table;
    }
}*/



/* CENIK */

.cenik {
    background-color: #f9fafb;
    text-align: center;
}

.cenik p {
    padding: 0;
    margin: 0 0 0.5em;
}



.cenik-cena {
    font-size: 2rem;
    font-weight: 700;
    color: #d6996b;
}

.napistemi {
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    display: inline-block;
    margin: 1em auto 0.83em;
    padding: 0.75em 2em;
    border: 1px solid #d6996b;
    color: #ffffff;
    background: #d6996b;
}

.napistemi:hover {
    background: #dca77f;
}

.cenik-storno {
    background-color: #ffffff;
    margin: 0.5em;
    padding: 1em;
    font-size: 0.9em;
    text-align: left;
}

@media (min-width: 900px) {
    .cenik-info {
        width: calc(50% - 1em);
        float: left;
    }
    
    .cenik-storno {
        width: calc(50% - 1em);
        float: left;
    }
    
}



/*  REFERENCE */

.reference-text {
    font-style: italic;
}

.reference-name {
    text-align: right;
}

/* footer - tedy informace kontaktní */

footer {
    background-color: #333333;
    color: #ffffff;
    padding: 0 1em;
}

.footer-container {
    display: inline-block;
    position: center;
    width: 30rem;
    max-width: 100%;
}

footer p {
    padding: 0;
    margin: 1em 0 0;
}

footer h2 {
    margin: 1em 0 0;
    padding: 1em 0 0;
    text-align: left;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

footer a:hover {
    color: #dca77f;
}

.footer-compulsory {
    margin: 2em -1em 0;
    text-align: center;
    background-color: #d6996b;
}
